
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
  
  /* ------------------------------------------------------------------------------------------------------- 
        HOME PAGE STARTS HERER                      */


  #homePage {
    background-color: rgba(194, 225, 231, 255);
    height: 100%;
    min-height: 100%;
    /* padding: 32px; */
  }

  #navBar {
    display: flex;
    flex-direction: row;
    justify-content: center;
    /* text-align: left; */
    padding: 18px
  }

  #name {
    color: rgba(51, 51, 51, 1);
    text-align: center;
    margin-top: 0.5vh;
    font-size: calc(30px + 2vw);
    animation: name 2s ease-in-out;
    letter-spacing: 3px;
  }
  
  #homePagePic {
    display: block;
    margin: 0 auto;
    background-image: linear-gradient(180deg, #E1E7C2, #7a49a5);
    animation: homePagePic 4s linear infinite;
    transition: all 0.5 linear;
  }


  .mainNav {
    margin: 0 12vw 1vh;
    border: 2px solid black;
    background-color: bisque;
    padding: 1rem;
    text-decoration: none;
    color: rgba(51, 51, 51, 1);
  }
  
  footer {
    /* position: absolute; */
    position: fixed;
    bottom: 0;
    width: 100%;
    padding: 2px;
    background-color: bisque;
    text-align: center;
    justify-content: space-around;
  }

  footer a {
    margin: 0 45px;
    color: rgba(51, 51, 51, 1);
  }


/* #welcomeSentence {
  justify-content: left;
  top: -30px;
} */

#homePageFirstLine {
  color: rgba(51, 51, 51, 1);
  animation: homePageFirstLine 2s ease-in forwards;
  position: relative;
  top: -360px;
  padding-left: 100px;
  letter-spacing: 1px;
}

#homePageSecondLine {
  color: rgba(51, 51, 51, 1);
  animation: homePageSecondLine 3.5s ease-in forwards;
  position: relative;
  top: -350px;
  padding-left: 115px;
  letter-spacing: 1px;
}

#homePageThirdLine {
  color: rgba(51, 51, 51, 1);
  animation: homePageThirdLine 5s ease-in forwards;
  position: relative;
  top: -340px;
  padding-left: 100px;
  letter-spacing: 1px;
}

#homePageFourthLine {
  color:rgba(51, 51, 51, 1);
  animation: homePageFourthLine 6.5s ease-in forwards;
  position: relative;
  top: -330px;
  padding-left: 95px;
  letter-spacing: 1px;
}

@media (max-width: 768px) {
  #homePageFirstLine {
    top: 0px;
    letter-spacing: 0.7px;
    padding: 10px;
    text-align: center;
  }
  #homePageSecondLine {
    top: 0px;
    letter-spacing: 0.7px;
    padding: 10px;
    text-align: center;
  }
  #homePageThirdLine {
    top: 0px;
    letter-spacing: 0.7px;
    padding: 10px;
    text-align: center;
  }
  #homePageFourthLine {
    top: 0px;
    letter-spacing: 0.7px;
    padding: 10px;
    text-align: center;
  }
}



/* got it to work on smaller screens so this code was no longer necessary  */

/* #popUpMessage { */
  /* position: fixed;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  overflow: auto;
}

#popUpMessage-text {
  height: 150px;
  width: 200px;
  border-radius: 1px;
} */



/* ------------------------------------------------------------------------------------------------------- 
        ABOUT ME PAGE STARTS HERER                      */

#aboutMeBody {
  background-color: #C2E7DB;
}

#aboutMeTag {
  text-align: center;
  letter-spacing: 1.6px;
  color: rgba(51, 51, 51, 1);
  padding-right: 35px;
}

.images {
  display: none;
  width: 60%;
  padding: 10px;
  box-sizing: border-box;
  box-shadow: 2px 2px none;
}

.aboutMePictures {
  display: flex;
flex-wrap: wrap;
justify-content: center;
max-width: 100%;
width: 70%;
height: 50%;
}

#buttons {
  display: flex;
  text-align: center;
  justify-content: center;
  gap: 20px;
  padding-right: 40px;
  margin-top: 2vh;
}

#previousImage {
  /* text-align: center; */
  color: rgba(51, 51, 51, 1);
  background-color: bisque;
}


#aboutMeButton{
  /* align-self: center; */
  color: rgba(51, 51, 51, 1);
  background-color: bisque;
}

#infoAboutMe {
  display: flex;
  text-align: right;
  color: rgba(51, 51, 51, 1);
  justify-content: flex-end;
  margin-right: auto;
  margin-top: -1050px;
  letter-spacing: 1px;
  padding-right: 400px;
  animation: infoAboutMe 1s ease-in;
}

#one {
  display: flex;
  text-align: left;
  color: rgba(51, 51, 51, 1);
  justify-content: flex-end;
  margin-right: auto;
  padding-right: 71px;
  letter-spacing: 0.5px;
}

@media (max-width: 1268px) {
  #one {
    text-align: right;
    display: flex;
    position: relative;
    margin-top: 53vh;
    font-size: 13px;
    margin-left: 450px;
    margin-right: 0px;
  }
}
/* ------------------------------------------------------------------------------------------------------- 
        RESUME PAGE STARTS HERE                     */


#resumeTag {
  text-align: center;
  margin-left: -50px;
  letter-spacing: 2px;
  color: rgba(51, 51, 51, 1);
  animation: resumeTag 2.8s linear infinite;
}

#resumeBody {
  background-color: #e7c8c2;
}
/* #section {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  max-width: 100%;
  width: 70%;
  height: 50%;
} */

#resume1 {
  display: flex;
  justify-content: center;
  align-items: center;
  height: -10vh;
  max-width: -40%;
  max-width: -40%;
  margin-left: 350px;
  animation: resume1 2.5s ease-in backwards;
}

#resume2 {
  display: flex;
  justify-content: center;
  align-items: center;
  height: -10vh;
  max-width: -40%;
  max-width: -40%;
  margin-left: 350px;
  animation: resume2 5s ease-in forwards;
}


/* ------------------------------------------------------------------------------------------------------- 
       PROJECTS PAGE WILL STARTS HERER                      */
#projectsBody {
  background-color: #e1e7c2;
}


#projectsTag {

  margin: 20px;
  flex-direction: row;
  text-align: center;
  letter-spacing: 1.5px;
  color: rgba(51, 51, 51, 1);
  animation: projectsTag 1.9s ease-in infinite;
}




  /*--------------------------------------------------------
          CONTACT ME PAGE WILL GO DOWN HERE*/


#contactMeBody {
  background-color:#cccef8;
}

#contactMe {
  color: rgba(51, 51, 51, 1);
  text-align: center;
  letter-spacing: 1.5px;
  margin-right: 25px;
  animation: contactMe 2s step-end infinite;
}


#gifs1 {
  margin: 5vh;
}


#linkedinGif {
  margin-left: 25%;
}


#gifs2 {
  margin-bottom: 10vh;
  margin: 5vh;

}

#email {
  display: flex;
  margin-top: -390px;
  margin-left: 660px;
}


  /*--------------------------------------------------------
                  ALL KEY FRAMES WILL GO DOWN HERE*/
  @keyframes name {
    from {
      transform: rotate(-720deg) translate(-100%, -100%);
      opacity: 0;
    }
    to {
      transform: rotate(0deg) translate(0, 0);
      opacity: 1;
    }
  }
  

@keyframes homePageFirstLine {
  from {
    opacity: -10;
    color:  rgba(194, 225, 231, 255);
  }
  to {
    opacity: 1;
    color: rgba(51, 51, 51, 1);
  }
}

@keyframes homePageSecondLine {
  from {
    opacity: -20;
    color:  rgba(194, 225, 231, 255);
  }
  to {
    opacity: 1;
    color: rgba(51, 51, 51, 1);
  }
}

@keyframes homePageThirdLine {
  from {
    opacity: -40;
    color: rgba(194, 225, 231, 255);
  }
  to {
    opacity: 1;
    color: rgba(51, 51, 51, 1);
  }
}

@keyframes homePageFourthLine {
  from {
    opacity: -60;
    color: rgba(194, 225, 231, 255);
  }
  to {
    opacity: 1;
    color: rgba(51, 51, 51, 1);
  }
}


@keyframes aboutMePictures {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}



@keyframes infoAboutMe {
  from {
    transform: translateX(-100%)
  }
  to {
    transform: translateX(0%);
  }
}

@keyframes resume1 {
  0% {
    opacity: -1;
    color: #e7c8c2;
    transform: translateY(-100%);
  }
  30% {
    opacity: 0;
  }
  65% {
    opacity: 0.4;
  }
  100% {
    opacity: 1;
    transform: translateY(0);
  }
}

@keyframes resume2 {
  from {
    background-color: #e7c8c2;
    color: #e7c8c2;
    opacity: 0;
    transform: translateY(110%);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}

@keyframes resumeTag {
  0% {
    transform: translateX(-3%)
}
  50% {
    transform: translateX(4%);
  }
  100% {
    transform: translateX(-3%);
  }
  }

  @keyframes contactMe {
    0% {
      transform: scale(1);
    }
    50% {
      transform: scale(1.07);
    }
    100% {
      transform: scale(1);
    }
  }

  @keyframes projectsTag {
      0% {
        transform: rotate(1deg);
      }
      25% {
        transform: rotate(7deg);
      }
      50% {
        transform: rotate(2deg);
      }
      75% {
        transform: rotate(-7deg);
      }
      100% {
        transform: rotate(-1deg);
      }
    }