* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
  
  #homePage {
    background-color: rgba(194, 225, 231, 255);
    height: 100%;
    min-height: 100%;
    /* padding: 32px; */
  }

  #navBar {
    display: flex;
    flex-direction: row;
    justify-content: center;
    /* text-align: left; */
    padding: 18px
  }

  #name {
    color: rgba(51, 51, 51, 1);
    text-align: center;
    margin-top: 0.5vh;
    font-size: calc(30px + 2vw);
    animation: name 2s ease-in-out;
    letter-spacing: 3px;
  }
  
  #homePagePic {
    display: block;
    margin: 0 auto;
  }


  .mainNav {
    margin: 0 12vw 1vh;
    border: 2px solid black;
    background-color: bisque;
    padding: 1rem;
    text-decoration: none;
    color: rgba(51, 51, 51, 1);
  }
  
  footer {
    position: absolute;
    bottom: 0;
    width: 100%;
    padding: 2px;
    background-color: bisque;
    text-align: center;
    justify-content: space-around;
  }

  footer a {
    margin: 0 45px;
    color: rgba(51, 51, 51, 1);
  }

  #contactMe {
    color: rgba(51, 51, 51, 1);
    text-align: center;
  }

/* #welcomeSentence {
  justify-content: left;
  top: -30px;
} */

#homePageFirstLine {
  color: rgba(51, 51, 51, 1);
  animation: homePageFirstLine 2s ease-in forwards;
  position: relative;
  top: -360px;
  padding-left: 100px;
  letter-spacing: 1px;
}

#homePageSecondLine {
  color: rgba(51, 51, 51, 1);
  animation: homePageSecondLine 3.5s ease-in forwards;
  position: relative;
  top: -350px;
  padding-left: 115px;
  letter-spacing: 1px;
}

#homePageThirdLine {
  color: rgba(51, 51, 51, 1);
  animation: homePageThirdLine 5s ease-in forwards;
  position: relative;
  top: -340px;
  padding-left: 100px;
  letter-spacing: 1px;
}

#homePageFourthLine {
  color:rgba(51, 51, 51, 1);
  animation: homePageFourthLine 6.5s ease-in forwards;
  position: relative;
  top: -330px;
  padding-left: 95px;
  letter-spacing: 1px;
}


#aboutMeBody {
  background-color: #C2E7DB;
}

#aboutMeTag {
  text-align: center;
  color: rgba(51, 51, 51, 1);
  padding-right: 35px;
}

.aboutMePictures {
  width: 50%;
  /* display: flex; */
  /* justify-content: space-around; */
}

.images {
  width: 50%;
  padding: 10px;
  box-sizing: border-box;
  box-shadow: 2px 2px none;
}

.aboutMePictures {
  display: block;
  text-align: center;
}

  /*--------------------------------------------------------
                  ALL KEY FRAMES WILL GO DOWN HERE*/
  @keyframes name {
    from {
      transform: rotate(-720deg) translate(-100%, -100%);
      opacity: 0;
    }
    to {
      transform: rotate(0deg) translate(0, 0);
      opacity: 1;
    }
  }
  

@keyframes homePageFirstLine {
  from {
    opacity: -10;
    color:  rgba(194, 225, 231, 255);
  }
  to {
    opacity: 1;
    color: rgba(51, 51, 51, 1);
  }
}

@keyframes homePageSecondLine {
  from {
    opacity: -20;
    color:  rgba(194, 225, 231, 255);
  }
  to {
    opacity: 1;
    color: rgba(51, 51, 51, 1);
  }
}

@keyframes homePageThirdLine {
  from {
    opacity: -40;
    color: rgba(194, 225, 231, 255);
  }
  to {
    opacity: 1;
    color: rgba(51, 51, 51, 1);
  }
}

@keyframes homePageFourthLine {
  from {
    opacity: -60;
    color: rgba(194, 225, 231, 255);
  }
  to {
    opacity: 1;
    color: rgba(51, 51, 51, 1);
  }
}